header { 
text-align: center; 
background-color: #f0f0f0; 
padding: 20px; 
} 
header img { 
border-radius: 50%; 
}
#proyectos { 
background-color: #f9f9f9; 
padding: 20px; 
} 
#proyectos ul { 
list-style-type: none; 
} 
#proyectos a { 
color: #0077cc; 
}
#proyectos {
  background-color: #f9f9f9;
  padding: 20px;
}

#proyectos ul {
  list-style-type: none;
}

#proyectos a {
  color: #0077cc;
}
